<%- include('partials/header.ejs') %>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        References
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-lg-8">
                    <div class="card card-lg">
                        <div class="card-body">
                            <div class="markdown">
                                <p>
                                    We would like to take this opportunity to express our sincere gratitude to the authors of books and papers whose work has been a source of valuable insight and inspiration for our project. Their groundbreaking research and contributions have greatly contributed to the advancement of knowledge in the field, and we are honored to have been able to draw upon their work for our own project.
                                </p>
                                <h3>Text Books:</h3>
                                <ol>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                                <h3>Research Papers:</h3>
                                <ol>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                                <h3>Websites:</h3>
                                <ol>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                                <h3>Kaggle:</h3>
                                <p>
                                    In addition, we would like to extend our thanks to the Kaggle community and its developers for creating an environment that fosters collaboration, sharing of ideas, and innovation. The platform has been an invaluable resource for us, allowing us to learn from and collaborate with other data scientists and machine learning experts. The wealth of knowledge and expertise available on Kaggle has been instrumental in shaping our research, and we are grateful for the opportunity to be a part of such a dynamic and supportive community.
                                </p>
                                <p>
                                    Here are some of the kaggle submissions we took reference from:
                                </p>
                                <ol>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="me-3">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/scale -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="7" y1="20" x2="17" y2="20" />
                                        <path d="M6 6l6 -1l6 1" />
                                        <line x1="12" y1="3" x2="12" y2="20" />
                                        <path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
                                        <path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
                                    </svg>
                                </div>
                                <div>
                                    <small class="text-muted">This Project is licensed under the</small>
                                    <h3 class="lh-1">MIT License</h3>
                                </div>
                            </div>
                            <div class="text-muted mb-3">
                                A short and simple permissive license with conditions only requiring preservation of
                                copyright and
                                license notices. Licensed works, modifications, and larger works may be distributed
                                under different terms
                                and without source code.
                            </div>
                            <h4>Permissions</h4>
                            <ul class="list-unstyled space-y-1">
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                    Commercial use
                                </li>
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                    Modification
                                </li>
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                    Distribution
                                </li>
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                    Private use
                                </li>
                            </ul>
                            <h4>Limitations</h4>
                            <ul class="list-unstyled space-y-1">
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-red" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="18" y1="6" x2="6" y2="18" />
                                        <line x1="6" y1="6" x2="18" y2="18" />
                                    </svg>
                                    Liability
                                </li>
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-red" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="18" y1="6" x2="6" y2="18" />
                                        <line x1="6" y1="6" x2="18" y2="18" />
                                    </svg>
                                    Warranty
                                </li>
                            </ul>
                            <h4>Conditions</h4>
                            <ul class="list-unstyled space-y-1">
                                <li><!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-blue" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="9" />
                                        <line x1="12" y1="8" x2="12.01" y2="8" />
                                        <polyline points="11 12 12 12 12 16 13 16" />
                                    </svg>
                                    License and copyright notice
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            This is not legal advice.
                            <a href="#" target="_blank">Learn more about repository licenses.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>