<%- include('partials/header.ejs') %>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        EC 881 Assignment
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card card-lg">
                        <div class="card-body markdown">
                            <h1>Identification & Detection of Diabetic Retinopathy</h1>
                            <p>Diabetic retinopathy (DR) is a severe eye disease that affects individuals
                                with diabetes, leading to vision loss or even blindness if left untreated. Early
                                detection and classification of DR is crucial for timely intervention and
                                treatment. In this project, we propose a methodology for the identification
                                and classification of diabetic retinopathy using Convolutional Neural
                                Networks (CNN) and three popular CNN architectures: MobileNet2,
                                EfficientNet, and Inception. We evaluate the performance of these models
                                on a large dataset of retinal images and compare their accuracy, precision,
                                recall, and F1-score. Our results demonstrate the effectiveness of CNN-
                                based models in accurately identifying and classifying diabetic retinopathy,
                                providing a potential solution for early diagnosis and treatment.
                                </p>
                                <p>
                                Diabetic retinopathy poses a significant global health challenge, impacting
                                millions of individuals with diabetes. Timely detection and appropriate
                                management are vital for preventing irreversible vision loss. Recent
                                advances in deep learning and computer vision have shown promising
                                results in medical image analysis. This project seeks to leverage the power
                                of CNNs and explore the performance of different CNN architectures to aid
                                in the identification and classification of diabetic retinopathy. Developing
                                accurate and efficient models can assist healthcare professionals in
                                diagnosing and managing this debilitating eye disease more effectively.</p>
                                <h2>What are the types of Diabetic Retinopathy?</h2>
                                Diabetic retinopathy is categorized into two main types:  
                                <ul>
                                <li>
                                    Non-proliferative diabetic retinopathy (NPDR): Non-proliferative 
                                diabetic  retinopathy  (NPDR)  is  the  early  stage  characterized  by 
                                microaneurysms,  retinal  haemorrhages,  and  the  formation  of  hard 
                                exudates.
                                </li>
                                <li>
                                    Proliferative  diabetic  retinopathy  (PDR):  Proliferative  diabetic 
                                retinopathy (PDR) is the advanced stage marked by the growth of 
                                abnormal  blood  vessels  in  the  retina,  which  can  cause  retinal 
                                detachment and severe vision loss. 
                                </li>
                                </ul>
                                <h2>ICDR Classification of Diabetic Retinopathy. </h2>
                                <p>
                                    
                                    The International Clinic Diabetic Retinopathy (ICDR) classification was 
                                    published  in  2003  after  a  consensus  of  31  retina  specialists, 
                                    endocrinologists, and epidemiologists from 16 countries and sponsored by 
                                    the American Academy of Ophthalmology. The ICDR classified DR on a 
                                    five-stage severity scale and classified diabetic macular edema as apparently absent or present.  <br><br>
                                    ICDR  is  applied  in  the  EYEPACS  dataset,  Asian  Pacific  Tele-
                                    Ophthalmology  Society  dataset,  Indian  Diabetic  Retinopathy  Image 
                                    Dataset,  Messidor  1  and  2  datasets  which  have  been  consulted  for  our 
                                    project. 
                                    The types are: - 
                                    <ul>
                                        <li>No Diabetic Retinopathy  </li>
                                        <li>Mild Diabetic Retinopathy  </li>
                                        <li>Moderate Diabetic Retinopathy </li>
                                        <li>Severe Diabetic Retinopathy </li>
                                        <li>Proliferative Diabetic Retinopathy </li>
                                    </ul>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>