<%- include('partials/header.ejs') %>

  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title justify-content-center">
            Supervisors and Guides
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
          <div class="row row-cards align-items-center justify-content-center">
            <div class="col-8">
              <div class="card">
                <div class="card-header justify-content-center">
                  <div class="card-title text-center">Project Mentor</div>
                </div>
                <div class="card-body p-4 text-center">
                  <span class="avatar avatar-xl mb-2 rounded border"
                    style="background-image: url('/img/team/professor.png');background-position: top; "></span>
                  <h3 class="mb-0">Dr. Himadri Shekhar Dutta</h3>
                  <p class="text-strong mb-3">Department of Electronics & Communications, KGEC</p>
                  <p class="text-muted mb-0 px-3" style="text-align: justify;">
                    This project was built under the guidance of Dr. Himadri Shekhar Dutta, to whom we are very grateful
                    for all the support that he has been extending to us during the entire time while we were working on
                    the project. We deeply appreciate how he has been continuously encouraging and guiding us in the
                    last two semesters, and also how he has always been so friendly and supportive of all of our efforts
                    and struggles. Working under his supervision has been very enjoyable and we have learned and grown a
                    lot.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-text hr-text-center">
          <span>Project Authors</span>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/ayush.png')"></span>
              </div>
              <div class="card-title mb-1">Ayush Singh</div>
              <div class="text-muted">- 10200319009 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/aryan.jpg')"></span>
              </div>
              <div class="card-title mb-1">Aryan Shaw</div>
              <div class="text-muted">- 10200319013 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/mayukh.jpeg')"></span>
              </div>
              <div class="card-title mb-1">Mayukh Sen</div>
              <div class="text-muted">- 10200319014 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/agni.jpg')"></span>
              </div>
              <div class="card-title mb-1">Agni Sain</div>
              <div class="text-muted">- 10200319019 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>