<%- include('partials/header.ejs') %>

  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title justify-content-center">
            Supervisors and Guides
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
          <div class="row row-cards">
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Project Mentor</div>
                </div>
                <div class="card-body p-4 text-center">
                  <span class="avatar avatar-xl mb-2 rounded border"
                    style="background-image: url('/img/team/professor.png');background-position: top; "></span>
                  <h3 class="mb-0">Dr. Himadri Shekhar Dutta</h3>
                  <p class="text-strong mb-3">Department of Electronics & Communications, KGEC</p>
                  <p class="text-muted mb-0 px-3" style="text-align: justify;">
                    This project was built under the guidance of Dr. Himadri Shekhar Dutta, to whom we are very grateful
                    for all the support that he has been extending to us during the entire time while we were working on
                    the project. We deeply appreciate how he has been continuously encouraging and guiding us in the
                    last two semesters, and also how he has always been so friendly and supportive of all of our efforts
                    and struggles. Working under his supervision has been very enjoyable and we have learned and grown a
                    lot.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="height: 29rem">
                <div class="ribbon ribbon-top bg-yellow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                    </path>
                  </svg>
                </div>
                <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                  <p class="mb-3">
                    We thank our professors for taking their valuable time out for constantly reviewing and suggesting
                    improvements in our project as well as providing such supportive and stimulating environments.
                  </p>
                  <div class="divide-y">
                    <div>
                      <div class="row">
                        <div class="col-auto">
                          <span class="avatar">SN</span>
                        </div>
                        <div class="col">
                          <div class="text-truncate">
                            <strong>Dr. Sandip Nandi</strong>
                          </div>
                          <div class="text-muted">Faculty, Department of ECE - KGEC</div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="badge bg-primary"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-auto">
                          <span class="avatar">BB</span>
                        </div>
                        <div class="col">
                          <div class="text-truncate">
                            <strong>Dr. Bandana Barman</strong>
                          </div>
                          <div class="text-muted">Faculty, Department of ECE - KGEC</div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="badge bg-primary"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-auto">
                          <span class="avatar">SB</span>
                        </div>
                        <div class="col">
                          <div class="text-truncate">
                            <strong>Dr. Subhashis Maitra</strong>
                          </div>
                          <div class="text-muted">Faculty, Department of ECE - KGEC</div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="badge bg-primary"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-auto">
                          <span class="avatar">AM</span>
                        </div>
                        <div class="col">
                          <div class="text-truncate">
                            <strong>Prof. Anup Mallick</strong>
                          </div>
                          <div class="text-muted">Faculty, Department of ECE - KGEC</div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="badge bg-primary"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-auto">
                          <span class="avatar">DG</span>
                        </div>
                        <div class="col">
                          <div class="text-truncate">
                            <strong>Prof. Dwaipayan Ghosh</strong>
                          </div>
                          <div class="text-muted">Faculty, Department of ECE - KGEC</div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="badge bg-primary"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-text hr-text-center">
          <span>Project Authors</span>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/ayush.png')"></span>
              </div>
              <div class="card-title mb-1">Ayush Singh</div>
              <div class="text-muted">- 10200319009 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/ayush.png')"></span>
              </div>
              <div class="card-title mb-1">Aryan Shaw</div>
              <div class="text-muted">- 10200319013 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/Mayukh.jpeg')"></span>
              </div>
              <div class="card-title mb-1">Mayukh Sen</div>
              <div class="text-muted">- 10200319014 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-3">
                <span class="avatar avatar-xl rounded" style="background-image: url('/img/team/ayush.png')"></span>
              </div>
              <div class="card-title mb-1">Agni Sain</div>
              <div class="text-muted">- 10200319019 -</div>
            </div>
            <a href="#" class="card-btn">View profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>